<h1>Today's Events</h1><br /><br />

<% @eventsToday.each do |event| %>
  <ul>
    <li>
      <%= event.title%>
    </li>
    <li>
      <%= event.time_min%>
    </li>
    <li>
      <%= event.summary%> <br />
    </li>
  </ul>
<% end %>
