<section class="event-content">
  <h2 class="event-title">Today's Schedule</h2>
  <% @eventsToday.each do |event| %>
    <ul>
      <li>
        <%= event.title%>
      </li>
      <li>
        <%= event.time_min%>
      </li>
      <li>
        <%= event.summary%> <br />
      </li>
    </ul>
  <% end %>
</section>
