<section class="root-content">

  <form action="<%= events_path %>" class="event-form">

    <%= submit_tag "ADD EVENTS FOR TODAY", class: 'event-btn' %>

    <p class="btn-label"> a MoOooOoOOOooo day has come</p>
  </form>
</section>
