/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* import URLS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.csss');
@import url('https://fonts.googleapis.com/css?family=Andika|PT+Sans:700');

/* colors */
:root {
  --black: #333;
  --white: #fefefe;
  --red: #d30620;
  --yellow: #fbdc00;
  --green: #2bb732;
  --blue: #4aa4b3;
  --pink: #faa5c0;
}

/* universal styles */
html {
  box-sizing: border-box;
  background-color: #fafafa;
}
*, *:before, *:after { box-sizing: inherit; }
html, body {
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--black);
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  background-image: url(cow-bg.jpg);
  background-size: cover;
}
section.content {
  flex: 1 0 auto;
  padding: 2%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.85), rgba(255,255,255,0.75));
}
a {
 color: var(--black);
 text-decoration: none;
}
a:hover { cursor: pointer; }

/* header */
h1.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1.page-title a {
  font-size: 2em;
  font-family: 'PT-Sans', sans-serif;
  font-weight: 700;
}
h1.page-title small {
  font-size: 1.2em;
  margin-left: 2%;
}

/* footer */
footer.page-footer {
  flex-shrink: 0;
  text-align: center;
  background: #555;
  padding: 2% 2% 4%;
}
footer.page-footer p {
  color: var(--white);
  line-height: 1.6;
}
footer.page-footer p a { color: var(--white);  }
footer.page-footer p.footer-credits, footer.page-footer p.footer-credits a {
  font-size: 8px;
}
footer.page-footer p.footer-signature i.fa-heart { color: var(--pink); }

/* root-content */
section.root-content,
section.event-content {
  padding: 40px 10px 30px;
}
.event-form {
  text-align: center;
}
.event-btn {
  width: 300px;
  padding: 10px 8px 12px;
  display: inline-block;
  border: 4px solid var(--pink);
  border-radius: 6px;
  background: var(--pink);
  font-size: 1em;
  font-family: 'PT-Sans', sans-serif;
  font-weight: 700;
  color: var(--white);
}
.event-btn:hover {
  cursor: pointer;
  background: none;
  color: var(--pink);
}
p.btn-label {
  margin-top: 5px;
  font-size: 0.8em;
  color: #555;
}
h2.event-title {
  font-size: 1.6em;
  font-family: 'PT-Sans', sans-serif;
  font-weight: 700;
}
